*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
   
  body {
    font: 100% sans-serif;
    margin: 0em;
    background-color: #fff;
    color: #666;
  }
  
  h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  
  a {
    color: #3d6dbe;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    color: #6594e0;
  }
  
  p {
    font-size: 1em;
    line-height: 1.8;
    margin-top: 0em;
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  
  header {
    background-color: rgb(0, 0, 0);
    background-image: url(img/birra.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    margin-bottom: 4em;
    text-align: center;
  }

  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  header h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    top: 370px;
    font-weight: 700;
  }
  
  header p {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1.3em;
    opacity: .9;
    position: relative;
    top: 360px;
  }
  
  section h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: .6em;
  }
  
  /* Same font-size and line-height as p element */
  section ul li, section ol li {
    font-size: 1em;
    margin-left: -10px;
    line-height: 1.8;
  }
  
  footer {
    margin-bottom: 1em;
    color: #888;
  }
  
  footer hr {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  .center {
    text-align: center;
  }
  
  @media screen and (min-width: 10em){
    header {
      position: relative;
      height: 300px;
    }
    
    header h1 {
      font-size: 3.2em;
      top: 195px;
      font: oblique;
      font-family: sans-serif
    }
    
    header p {
      top: 180px;
      font-size: 1.8em;
      font: oblique;
      font-family: sans-serif
    }
  }
  
  
  /* ------------------- Grid -------------------*/
  
  .container {
    max-width: 50em;
    width:92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 310px;
  }
  
  #profile img {
    max-height: 30em;
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
  }
  
  .row {
    clear: both;
    margin-right: -1%;
    margin-left:  -1%;
    
  }
  
  .row:before,
  .row:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .row:after {
      clear: both;
  }
    
  /* -------------------Custom Blocks----------------- */
  
  /* Gallery */
  
  .gallery [class*="grid-2"], .gallery [class*="grid-3"]  {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 50%;
  }
  
  .gallery a img {
    -webkit-transform: translateZ(0); /* Fix chrome pixel shift */
    transition: opacity .2s ease;
    opacity: 1;
  }
  
  .gallery a img:hover {
    opacity: .8;
  }
  
  @media screen and (min-width: 40em) {
    .gallery .grid-2 {
      width: 33.3333333%;
    }
  }
  
  
  /* Experience */
  .experience [class*="row"] {
    border-bottom: dotted 1px #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .experience h2, .experience h3 {
    margin-bottom: 0;
  }
  
  .experience h2, .experience p {
    text-align: center;
  }
  
  .experience h3 {
    text-align: left;
  
  }
  
  .experience [class*="row"]:last-of-type {
    border: none;
  }
  
  .experience h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align-last: center; 
  }
  
  @media screen and (min-width: 40em) {
    .experience h2, .experience p {
      text-align: left;
    }
  }
  