*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
   
  body {
    font: 100% sans-serif;
    margin: 0em;
    background-color: #666;
    color: #666;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
  }
  
  h1, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    color: rgb(0,0,0);
  }

  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
  }
  
  a {
    color: #3d6dbe;
    text-decoration: none;
    font-size: 1.0em;
  }
  
  a:focus,
  a:hover {
    color: #6594e0;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.8;
    margin-top: 5em;
    color: rgb(0, 0, 0);
    margin-left: 3em;
    margin-right: 2em;
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    border-top: 1px;  
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  
  header {
    background-color: rgb(0, 0, 0);
    background-image: url(img/birra.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    margin-bottom: 4em;
    text-align: center;
  }

  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  header h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    top: 370px;
    font-weight: 700;
  }
  
  header p {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1.3em;
    opacity: .9;
    position: relative;
    top: 360px;
  }
  
  section h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: .6em;
  }
  
  /* Same font-size and line-height as p element */
  section ul li, section ol li {
    font-size: 1em;
    margin-left: -10px;
    line-height: 1.8;
  }
  
  footer {
    margin-bottom: 1em;
    color: rgb(165, 164, 164);
  }
  
  footer hr {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  .center {
    text-align: center;
  }
  
  @media screen and (min-width: 10em){
    header {
      position: relative;
      height: 300px;
    }
    
    header h1 {
      font-size: 3.2em;
      top: 195px;
      font: oblique;
      font-family: sans-serif
    }
    
    header p {
      top: 180px;
      font-size: 1.8em;
      font: oblique;
      font-family: sans-serif
    }
  }
  
  .container {
    max-width: 50em;
    width:92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 310px;
  }

  .container-img {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
  }
  
  #profile img {
    max-height: 30em;
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
  }
  
  .row {
    clear: both;
    margin-right: 100%;
    margin-left:  100%;
    background-color: lightblue;
  }
  
  .row:before,
  .row:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .row:after {
      clear: both;
  }
    
  /* -------------------Custom Blocks----------------- */
.grid-1{
  float: right;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

  .grid-2{
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 50em) {
  .grid-1 { width: 50%; }
  .grid-2 { width: 50%; }

}
  /* Gallery */
  
  .gallery [class*="grid-2"], .gallery [class*="grid-1"] {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 50%;
  }
  
  .gallery a img {
    -webkit-transform: translateZ(0); /* Fix chrome pixel shift */
    transition: opacity .2s ease;
    opacity: 1;
  }
  
  .gallery a img:hover {
    opacity: .8;
  }
  
  @media screen and (min-width: 40em) {
    .gallery .grid-2 .grid-1 {
      width: 50%;
    }
  }

  /* NUESTRAS CERVEZAS*/
  #elaboration {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    margin-bottom: 4em;
    text-align: center;
  }
  .how-beers {
    max-width: 1200px;
    width:92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: 850px;
  }
 /* MENU */
 .h2-menu {
  text-align: center;
  color: black;
}

.bebidas{
  text-align: center;
}

.comidas{
  align-self: auto;
  text-align: center;
}

.menu {
  text-align: center;
  margin-bottom: 30px;
}
  #fullMenu {
    background-color: rgb(0, 0, 0);
    background-image: url(img/cervezas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    margin-bottom: 4em;
    text-align: center;
    height: 300px;
  }
  /* MAPA */
  .location {
    max-width: 50em;
    width:92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
  }

  /* NOSOTROS */
  .us {
    background: #f6f6ed url("img/header-us.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    margin-bottom: 4em;
    text-align: center;
  }

  .usContainer {
    width:100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .backImg {
    background-image: url("img/beer2.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 670px;
  }

  #beers {
    margin-bottom: 4em;
    text-align: center;
    height: 300px;
  }

  .boton {
    margin-top: 24%;
  }

  .margin {
    margin-left: 20%;
    margin-top: 5%;
  }